header{
    position: fixed;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease; 
    z-index: 999;
    font-family: 'Roboto Mono';
}

.background{
    max-width: 100%;
}

.background img{
    width: 100%;
    height: 730px;
    object-fit: cover;
    filter:brightness(0.5);
}

ul{
    padding: 0px;
    display: flex;
    list-style: none;
    padding: 10px 20px;
    gap: 20px;
    font-size: 20px;
}

nav{
    border-left: 1px solid white;
}

li{
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

li:hover{
    color: #40bae7;
    transition: 0.3s;
}

li:active{
    opacity: 0.7;
    transition: 0s;
}

.logo-div{
    max-width: 200px;
}

header img{
    width: 100%;
    cursor: pointer;
}

header img:hover{
    transform: scale(1.15);
    transition: 0.6s;
}

#bars, #close{
    font-size: 40px;
    cursor: pointer;
}

.actions{
    display: none;
}

.blurried{
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.info{
    font-family: 'Roboto Mono';
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

.text{
    color:white;
    text-align: center;
}

.text span{
    color:red;
}

.text h1{
    text-transform: uppercase;
    font-size: 64px;
    word-spacing: -20px;
    margin: 0;
}

.text h2{
    font-size: 32px;
    word-spacing: -5px;
    margin: 0 0 20px 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}



.active-nav{
    color:#2298d8;
}

button:hover{
    background-color: #67aed4;
}
button:active{
    opacity: 0.7;
}

#plovdiv{
    color:white;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    header{
        justify-content: space-between;
    }

    .logo-div{
        max-width: 140px;
    }

    .buttons{
        flex-direction: column;
    }

    .text h1{
        font-size: 52px;
    }

    .text h2{
        font-size: 24px;
    }


    nav{
        width: 100%;
        position: absolute;
        bottom: -245px;
        right: 0;
        background-color: black;
    }
    ul{
        flex-direction: column;
        border-radius: 0px;
        padding: 10px 0;
        text-align: center;
        padding: 0;
        gap:0px;
        margin:0;
        border-top: 1px solid gray;
        font-size: 16px;
    }
    li{
        border-radius: 0;
        padding: 20px 0;
        border-bottom: 1px solid gray;
    }
    .actions{
        color:#ffffff;
        display: block;
    }
    .non-visiable{
        transform: translateY(-200%);
    }
    .visiable{
        display: block;
        transition: 0.3s ease-in-out;
        transform: translateY(0);
    }
}