.footer-div{
    font-family: 'Roboto Mono';
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    align-items: center;
    background-color: black;
    border-top: 1px solid gray;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div svg{
    width: 40px;
    max-height: 40px;
    fill:white;
    cursor: pointer;
}

.second{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom:10px;
}

.third{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.third div{
    display: flex;
    gap:10px;
    justify-content: center;
}

#copy{
    margin: 30px 0;
    font-size: 12px;
}