.form-div{
    font-family: 'Roboto Mono';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding: 30px;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    border: 1px solid #4379ee;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #4379ee;
}

form h2{
    text-align: center;
    background-color: #4379ee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid white;
}

input[type='text']{
    border:1px solid white;
    color:white;
    width: 100%;
    box-sizing: border-box;
    padding:15px 20px;
    border-radius: 5px;
    background-color: transparent;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 20px;
    align-items: center;
}

textarea{
    resize: none;
    padding: 15px 20px;
    background-color: transparent;
    color:white;
    box-sizing: border-box;
    border-radius: 5px;
    height: 200px;
    border:1px solid white;
    width: 100%;
}

input{
    font-family: 'Roboto Mono';
}

.submit-button{
    font-family: 'Roboto Mono';
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    background-color: #4379ee;
    border: 1px solid #4379ee;
    font-size: 18px;
    border: none;
    width: 200px;
    height: 40px;
}

.error{
    padding: 0 0 0px 0;
    margin: 0;
    color:red;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83px;
    width: 100%;
    text-align: center;
}

.error-input{
    border: 1px solid red !important;
}

input:disabled, textarea:disabled{
    opacity: 0.4;
}

.submit-button:disabled{
    opacity: 0.4;
}

.submit-button:hover:disabled{
    cursor:wait;
    background-color: #4379ee;
}

.success{
    color:rgb(3, 175, 3);
}