header{
    display: flex;
    align-items: center;
}

ul{
    padding: 0px;
    display: flex;
    list-style: none;
    background-color: red;
}

.logo-div{
    max-width: 220px;
}

header img{
    width: 100%;
}

header img:hover{
    transform: scale(1.15);
    transition: 0.6s;
}