.callBtn{
    font-family: 'Roboto Mono';
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    background-color: #2298d8;
    border: 1px solid #2298d8;
    font-size: 18px;
    border: none;
    width: 200px;
    height: 40px;
}